.background {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: #fff;
    border-radius: 24px;
    padding: 32px 24px 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    width: 300px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      width: 100%;

      h5 {
        font-size: 16px;
        text-align: center;
      }

      &.align-left {
        h5 {
          text-align: start !important;
          margin-left: 4px;
        }
      }
    }

    &__submit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      margin-top: 16px;

      &.container__submit--right-align {
        justify-content: end !important;
        gap: 16px;
      }
    }
  }
}
